.shape {
    height: 0;
    width: 0;
    border-bottom: 30px solid blue;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  }
  .shape1{
    height: 0;
    width: 0;
    font-size: 5;
    border-bottom: 30px solid black;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  }